<div class="row p-2 my-2 shadow bg-body rounded">
  <div class="card p-2">
    <div class="card-header">
      <h3 class="card-title">
        <a class="navbar-brand" href="{% url 'board:post_detail' post.pk %}">
          {{ post.title }}
        </a>
      </h3>
      <a class="navbar-brand" href="{% url 'board:category' post.category.name %}">
        <span class="badge bg-secondary float-end">{{ post.category }}</span>
      </a>
      <small class="text-muted ms-1">
        <b>
          published by:
        </b>
        <span class="fst-italic">
        </span>
        <a href="{% url 'board:by_author' post.author %}">
          <span class="fst-italic">{{ post.author }}</span>
        </a>
        <b>
          on:
        </b>
        <span class="fst-italic">
          {{ post.datetime}}
        </span>
        </p>

      </small>
    </div>

    <div class="card-body">
      {% if post_list or posts %}
      <p class="card-text ">{{ post.text|safe|truncatewords:25}}</p>
      {% else %}
      <p class="card-text ">{{ post.text|safe}}</p>
      {%endif%}

    </div>

    <div class="card-footer">

      {% if user.is_authenticated and post in user.post_set.all %}
      <a class="text-decoration-none" href="{% url 'board:comments_list' post.pk %}">
        <button type="button" class="btn btn-outline-primary position-relative ">
          Responses
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ post.comment_set.all|length }}
          </span>
        </button>
      </a>
      <a class="text-decoration-none" href="{% url 'board:post_update' post.pk %}">
        <button class="btn btn-outline-warning text-dark">
          Edit
        </button>
      </a>
      <a href="{% url 'board:post_delete' post.pk %}">
        <button class="btn btn-outline-danger">
          Delete
        </button>
      </a>
      {% else %}
      <a class="text-decoration-none" href="{% url 'board:comment_create' post.pk %}">
        <button class="btn btn-outline-info">
          Respond
        </button>
      </a>
      {% endif %}
    </div>
  </div>
</div>